/* profile.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profiles {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .profile-card {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    max-width: 300px;
    text-align: center;
    position: relative; /* set position to relative for positioning the edit button */
  }
  
  .username {
    font-size: 24px;
    margin-top: 0;
  }
  
  .email, .phone {
    margin: 5px 0;
  }
  
  .edit-button {
    position: absolute;
    bottom: 10px;
    right: 80px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .edit-button:hover {
    background-color: #3e8e41;
  }
  
  .profile-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  