{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/approve_leave.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Apply for Leave</h1>
<form method="POST">
  {% csrf_token %}
  <label for="start_date">Start Date:</label>
  <input type="date" id="start_date" name="start_date" required><br>

  <label for="end_date">End Date:</label>
  <input type="date" id="end_date" name="end_date" required><br>

  <label for="reason">Reason:</label>
  <textarea id="reason" name="reason" required></textarea><br>

  <input type="submit" value="Apply">
</form>
</body>
</html>