{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/leavestatus.css' %}">

    <title>Document</title>
</head>
<body>
    {% for leave_application in leave_applications %}
  <div class="leave-application">
    <h3>Leave Application #{{ leave_application.id }}</h3>
    <p><strong>Start Date:</strong> {{ leave_application.start_date }}</p>
    <p><strong>End Date:</strong> {{ leave_application.end_date }}</p>
    <p><strong>Reason:</strong> {{ leave_application.reason }}</p>
    <p><strong>Status:</strong> {{ leave_application.status }}</p>
  </div>
{% empty %}
  <p>No leave applications found.</p>
{% endfor %}
</body>
</html>