{% load static %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profiles</title>
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>

  <h2>User Profiles</h2>
  
  <ul class="profiles">
    {% for profile in profiles %}
      <li>
        <div class="profile-card">
          <img src="{% static 'img/avatar.png' %}" alt="Profile picture" class="profile-picture">
          <h3 class="username">{{ profile.username }}</h3>
          <p class="email">Email: {{ profile.email }}</p>
          <p class="phone">Phone: {{ profile.phone }}</p><br><br>
          <!-- <a href="" class="edit-button">Edit</a> -->
          <a href="" class="edit-button">my booking</a>
        </div>
        
      </li>
    {% endfor %}
  </ul>
  

</body>
</html>
